* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
  list-style: none;
}
header {
  height: 6vh;
  background-color: #ff1f1f;
  color: #fbd743;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header a {
  color: #fbd743;
  margin: 0 20px;
  cursor: pointer;
  text-shadow: 1px 0 rgb(33, 17, 51);
  letter-spacing: 1px;
}
.buton {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
input {
  border: 2px solid #8b8540;
  background-color: #fbd648;
  border-radius: 50px;
  width: 400px;
  height: 40px;
}

input::placeholder {
  font-size: small;
  text-shadow: 1px 0 rgb(59, 27, 93);
  color: #ff1f1f;
  letter-spacing: 5px;
}
.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); /* Kartın gölgesini ayarla */
  width: 230px;
  height: 250px;
}
